{% extends "template.html" %}

{% block content %}
<div id="actualites" class="container">
    <h1>Nadia Mahmoud<br>Développeuse d'application PHP/Symfony<br>Comment je peux vous aidez?</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">

            <img class="ml-3" style="width: 18rem; padding-bottom: 10px; margin-right: 10px; border-radius: 25px;"
            src="public/front/assets/images/maphoto.jpg" alt="photo ">      
        </div>
        <div class="col-12 col-md-8">
            <h5>Création de site internet</h5>
            <p>Je m'appelle...</p>
            <ul>
                <li class="lie">
                    <button type="button" class="button1"><a href="CV Nadidi.pdf (2).docx">Mon CV</a></button>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}