{% extends "template.html" %}

{% block content %}
<div id="actualites" class="container">
    <h1>Nadia Mahmoud<br>Développeuse d'application PHP/Symfony<br></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">

            <img class="ml-3"
            src="public/front/assets/images/maphoto.jpg" alt="photo ">      
        </div>
        <div class="col-12 col-md-8">
            <div class="Mon h5">
            <h5>Comment je peux vous aidez?</h5>
            </div>
            <br>
            <p>Je me nomme Nadia Mahmoud. J'ai travailler pendant plus de 10 ans dans le secteur de la grande distribution. En ayant fais le tour, j'avais besoin de changement au niveau professionnel et surtout de découvrir un autre métier. Je me suis alors naturellement tournée vers les métiers du numérique car ils offrent un grand nombre davantages et sont surtout compatible avec le nouveau mode de vie auquel j'aspire. Vous trouverez ci-joint mon curriculum vitae pour plus de détails sur mon parcours professionel. </p>
            <br>
            <br>
            <ul>
                <li>
                    <button type="button" class="button1"><a href="CV_NM.pdf">Mon CV</a></button>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}