{% extends "template.html" %}

{% block content %}
<div id="actualites" class="container">
    <!--<h1>Mes publications</h1>-->
</div>
<div class="container">
    <div class="row">
      
        <div class="col-6 col-md-4">
            <img class="ml-3" style="width: 18rem; padding-bottom: 10px; margin-right: 10px;"
            src="public/front/assets/images/maphoto.jpg" alt="ma photo">
        </div>
   
        <div class="col-12 col-md-8">
            <h5>Titre du blog<br>Création de mon premier site internet (chapô)</h5>
            <p>J'ai créée mon premier site internet pour une Association qui avait pour but de faire partager avec le grand public sa passion pour le cinéma.</p>            
            <p>L'auteur:<br>date de dernière mise à jour:{% for comments in listComments %}
              {{ comments  ['publication_date']}}
            {% endfor %}</p>
           
        </div>  
    </div>
</div>
<form>
    <div class="container-fluid">
    <div class="form-group">
        <label class="comment" for="exampleFormControlTextarea1">Laisser un commentaire içi</label>
        <input type="text" placeholder="Entrer votre commentaire"
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="row">
        <div class="col">
          <label class="comment" for="exampleFormControlTextarea1">First name</label>  
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <label class="comment" for="exampleFormControlTextarea1">Email</label>  
          <input type="text" class="form-control" placeholder="Email">
        </div>
      </div>  
    </div>
    </div>
    <button type="button" class="button1">Envoyer le commentaire</button>
</form>
{% endblock %}











