{% extends "template.html" %}

{% block content %}
        
  <div id="actualites" class="container">         
    <h1>Voici notre séléction de films</h1>
  </div>         
<div class="container">
    
  <div class="card-deck">
      <div class="card">
          <img class="card-img-top" src="public/front/assets/images/labelleetlabete.jpg" alt="Affiche La belle et la Bête">
          <div class="card-body">
              <h5 class="card-title">La belle et la Bête</h5>
              <p class="card-text">De Bill Condon<br>
                        Fin du XVIIIè siècle, dans un petit village français. Belle, jeune fille rêveuse et passionnée de littérature, vit avec son père, un vieil inventeur farfelu. S'étant perdu une nuit dans la fôret, ce dernier se réfugie au château de la Bête, qui le jette au cachot. Ne pouvant supporter de voir son père emprisonné, Belle accepte alors de prendre sa place...<br>
                        Nationalité Américain.</p>
              <a class="btn btn-warning" href="inscription.html" role="button">Je réserve</a>
          </div>
          <div class="card-footer">
              <small class="text-muted"><strong>Projection le 5 Aout 2020 à 18h</strong></small>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="public/front/assets/images/lareine.jpg" alt="Affiche La reine des Neiges">
          <div class="card-body">
              <h5 class="card-title">La reine des Neiges</h5>
              <p class="card-text">De Chris Buck, Jennifer Lee
                        Anna.<br>Une jeune fille aussi audacieuse qu’optimiste, se lance dans un incroyable voyage en compagnie de Kristoff, un montagnard expérimenté, et de son fidèle renne, Sven à la recherche de sa sœur, Elsa, la Reine des Neiges qui a plongé le royaume d’Arendelle dans un hiver éternel…  En chemin, ils vont rencontrer de mystérieux trolls et un drôle de bonhomme de neige nommé Olaf...
                        <br>Nationalité Américain.</p>
              <a class="btn btn-warning" href="inscription.html" role="button">Je réserve</a>
          </div>
          <div class="card-footer">
          <small class="text-muted"><strong>Projection le 5 Aout 2020 à 20h</strong></small>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="public/front/assets/images/malefique.jpg" alt="Affiche Maléfique">
          <div class="card-body">
              <h5 class="card-title">Maléfique</h5>
              <p class="card-text">De Robert Stromberg<br>
                        Maléfique est une belle jeune femme au coeur pur qui mène une  vie idyllique au sein d’une paisible forêt dans un royaume où règnent le bonheur et l’harmonie. Un jour, une armée d’envahisseurs menace les frontières du pays et Maléfique, n’écoutant que son courage, s’élève en féroce protectrice de cette terre...<br>Nationalité Américain.</p>
              <a class="btn btn-warning" href="inscription.html" role="button">Je réserve</a>
          </div>
          <div class="card-footer">
          <small class="text-muted"><strong>Projection le 6 Aout 2020 à 18h</strong></small>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="public/front/assets/images/nicky.jpg" alt="Affiche Nicky Larson">
          <div class="card-body">
              <h5 class="card-title">Nicky Larson</h5>
              <p class="card-text">De Philippe Lacheau<br>
                        Nicky Larson est le meilleur des gardes du corps, un détective privé hors-pair. Il est appelé pour une mission à hauts risques : récupérer le parfum de Cupidon, un parfum qui rendrait irrésistible celui qui l’utilise…
                        <br>Nationalité Français.</p>
              <a class="btn btn-warning" href="inscription.html" role="button">Je réserve</a>
          </div>
          <div class="card-footer">
          <small class="text-muted"><strong>Projection le 6 Aout 2020 à 20h</strong></small>
          </div>
      </div>        
  </div><!--card deck-->

  <div class="card-deck">
      <div class="card">
          <img class="card-img-top" src="public/front/assets/images/parva.jpg" alt="Affiche Parvana">
          <div class="card-body">
          <h5 class="card-title">Parvana</h5>
          <p class="card-text">De Nora Twomey<br>
                        En Afghanistan, sous le régime taliban, Parvana, onze ans, grandit à Kaboul ravagée par la guerre. Elle aime écouter les histoires que lui raconte son père, lecteur et écrivain public. Mais un jour, il est arrêté et la vie de Parvana bascule à jamais. Car sans être accompagnée d’un homme, on ne peut plus travailler, ramener de l'argent ni même acheter de la nourriture.
                        Parvana décide alors de se couper les cheveux et de se travestir en garçon afin de venir en aide à sa famille.
                        <br>Nationalités Canadien, Irlandais, Luxembourgeois.</p>
          <a class="btn btn-warning" href="inscription.html" role="button">Je réserve</a>
          </div>
          <div class="card-footer">
          <small class="text-muted"><strong>Projection le 7 Aout 2020 à 18h</strong></small>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="public/front/assets/images/roi.jpg" alt="Affiche Le roi lion">
          <div class="card-body">
          <h5 class="card-title">Le roi lion</h5>
          <p class="card-text">De Jon Favreau<br>
                        Au fond de la savane africaine, tous les animaux célèbrent la naissance de Simba, leur futur roi. Les mois passent. Simba idolâtre son père, le roi Mufasa, qui prend à cœur de lui faire comprendre les enjeux de sa royale destinée. Mais tout le monde ne semble pas de cet avis. Scar, le frère de Mufasa, l'ancien héritier du trône, a ses propres plans...
                        <br>Nationalité Américain.</p>
          <a class="btn btn-warning" href="inscription.html" role="button">Je réserve</a>
          </div>
          <div class="card-footer">
          <small class="text-muted"><strong>Projection le 7 Aout 2020 à 21h</strong></small>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="public/front/assets/images/tit.jpg" alt="Affiche Titanic">
          <div class="card-body">
          <h5 class="card-title">Titanic</h5>
          <p class="card-text">De James Cameron<br>
                        Southampton, 10 avril 1912. Le paquebot le plus grand et le plus moderne du monde, réputé pour son insubmersibilité, le "Titanic", appareille pour son premier voyage. Quatre jours plus tard, il heurte un iceberg. A son bord, un artiste pauvre et une grande bourgeoise tombent amoureux.
                        <br>Nationalité Américain..</p>
          <a class="btn btn-warning" href="inscription.html" role="button">Je réserve</a>
          </div>
          <div class="card-footer">
          <small class="text-muted"><strong>Projection le 8 Aout 2020 à 19h</strong></small>
          </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="public/front/assets/images/bouleetbill2.jpg" alt="Affiche Boule et bill">
          <div class="card-body">
          <h5 class="card-title">Boule et bill</h5>
          <p class="card-text">De Alexandre Charlot<br>Franck Magnier Tout commence à la SPA. Un jeune cocker se morfond dans sa cage. Il ne trouve pas les maîtres de ses rêves. Soudain, apparaît un petit garçon, aussi roux que lui. Qui se ressemble s'assemble : Pour Boule et Bill, c'est le début d'une grande amitié.<br> Nationalités Français, Belge, Luxembourgeois.</p>
          <a class="btn btn-warning" href="inscription.html" role="button">Je réserve</a>
          </div>
          <div class="card-footer">
          <small class="text-muted"><strong style="color: red; font-size: 15px;">Projection le 8 Aout 2020 à 21h</strong></small>
          </div>
      </div>
                
  </div><!--card deck-->
           
</div><!--container-->

      <!-- Footer -->
{% endblock %}