{% extends "template.html" %}

{% block content %}

<div id="actualites" class="container">
    <h1>Formulaire d'inscription</h1>
</div>
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <form class="form-contact">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNom">Nom</label>
                        <input type="nom" class="form-control" id="inputNom" placeholder="Nom">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPrénom">Prénom</label>
                        <input type="prénom" class="form-control" id="inputPrénom" placeholder="Prénom">
                    </div>
                </div>        

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail">Email</label>
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" style="font-size: 20px;
                background-color:#b1b6bc;
                font-family: Georgia, 'Times New Roman', Times, serif;">
                    Je m'inscris
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
