{% extends "template.html" %}

{% block content %}

<div id="actualites" class="container">
    <h1>Mes publications</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <img class="ml-3" style="width: 18rem; padding-bottom: 10px; margin-right: 10px;"
            src="public/front/assets/images/maphoto.jpg" alt="ma photo">
        </div>
        <div class="col-12 col-md-8">
            <h5>Ma conversion professionnel(Titre du blog)<br>Création de mon premier site internet (chapô)</h5>
            <p>date de dernière modification</p>
            <p>Dans cet article vous trouverez comment j'en suis arrivée a la création de mon premier site internet, suivez le lien pour plus de détails.</p>            
            <ul>
                <li class="lie">
                    <a href="index.php?page=detailsposts2">Suite de l'article</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}



                